*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main_title{
    color: #000; 
    font-size: 2.2rem;
    text-transform: uppercase;
    text-align: center;
    margin: 4rem 0;
    font-family: Arial, Helvetica, sans-serif;
}

.table_container{
    margin-top: 4rem;
    border-collapse: collapse;
}

.table_head{
    background-color: rgb(109 165 147);
}

.table_line_head{
    text-transform: uppercase;
    border: 1px solid #000;
    padding: 1rem 2rem;
}

.table_line_body{
    border: 1px solid black;
    border-collapse: collapse;
    padding: .5rem 1rem;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(177, 206, 197, 0.425);
    text-align: center;
}

.link_btn{
    text-decoration: none;
   
}

.table_btn_link{
 background-color: #fff;
}

.novo_agendamento{
    text-decoration: none;
    color: #000;
    padding: 1rem 2rem;
    background-color: #00000062;
    transition: all linear .3s;

}

.novo_agendamento:hover{
    background-color: #000;
    color: #fff;
}
